[2015-12-03 06:52] Kodemon opened #1 "Arrow function correction"
When you define a arrow function within a class method you no longer have to resort to assigning the 'this' context to refer to the class.

Arrow methods use the direct parent context when referring to 'this'.

https://github.com/niftylettuce/frisbee/blob/master/src/frisbee.js#L57

Source: http://codepen.io/somethingkindawierd/post/es6-arrow-functions-this

When I first learned this, arrow methods

[2015-12-03 16:10] #1 closed

[2015-12-03 16:10] niftylettuce commented on #1
thanks @Kodemon nice find

[2015-12-10 07:25] ACCTFORGH opened #3 "Abort() function"
Is abort() or similar function available? Fetch is known to not have abort() in place. I am considering to use frisbee in React Native but am thinking to cancel the connections when component unmounts. Or, could it be that, for fetch-based libraries, it is not necessary to have abort() function in place?

[2015-12-15 16:41] niftylettuce commented on #3
@rmevans9 @ACCTFORGH can any of you make this PR to add this in?

[2015-12-15 16:42] niftylettuce commented on #3
@ACCTFORGH I use it in React Native - it would be cool to have this abort() functionality when component unmounts!

[2016-02-25 00:29] niftylettuce opened #7 "Embed https://www.npmjs.com/package/urlsearchparams directly in package"
So we can do stuff like this without needing querystring modules.

[code]

[2016-04-15 06:24] joshgillies commented on #7
With the above implemented any idea when this will be implemented?

[2016-05-13 13:04] sibeliusseraphini opened #8 "Authorization header should be customizable"
Right now it is only Basic <token> - https://github.com/niftylettuce/frisbee/blob/master/src%2Ffrisbee.js#L203

it should handle JWT <token> and so on

[2016-05-13 13:51] sibeliusseraphini opened #9 "it should JSON.stringify the body if necessary"

[2016-05-15 16:01] niftylettuce commented on #8
done, see `frisbee@1.0.0` @sibeliusseraphini

[2016-05-15 16:01] #8 closed

[2016-05-15 16:01] niftylettuce commented on #9
done, see `frisbee@1.0.0` @sibeliusseraphini

[2016-05-15 16:01] #9 closed

[2016-05-15 16:01] niftylettuce commented on #7
@joshgillies does `v1.0.0` work for you now?  I JSON.stringify the body if its an object or array, this prob not needed anymore

[2016-05-15 16:03] niftylettuce commented on #3
@ACCTFORGH see https://github.com/whatwg/fetch/issues/27

[2016-05-15 16:24] niftylettuce opened #10 "Who's using Frisbee?"
:white_circle: Add yourself or someone you know!

[2016-05-15 16:28] michaelerobertsjr commented on #10
This looks cool.  You may want to make a note somewhere in your docs about this project is unrelated to frisby.js, especially since supertest is mentioned quite a bit.  It took me a few moments to figure out that these are different projects.

[2016-05-15 16:30] niftylettuce commented on #10
Ah I didn't even know that existed, I'll think about what to do here. Thanks for heads up @michaelerobertsjr

[2016-05-15 23:00] joshgillies commented on #7
Nice thought about using `JSON.stringify` on the body as opposed to using the `querystring` module. Will give it a go 👍

[2016-05-15 23:01] niftylettuce commented on #7
@joshgillies Actually you gave me a great idea, I will implement EXACTLY what you need.  Give me 10 minutes please.

[2016-05-15 23:28] #7 closed

[2016-05-15 23:29] niftylettuce commented on #7
Okay @joshgillies you can try `npm install --save frisbee@1.0.1` from NPM, and you should be able to easily do GET requests with automatic querystring stringification.

For example, you can do this:

[code]

And it will make a `GET /v1/messages?limit=10&page=2` for you.

[2016-05-15 23:39] joshgillies commented on #7
Perfect, thanks!👌

[2016-05-15 23:43] niftylettuce commented on #7
@joshgillies feel free to join our slack! http://slack.glazed.io/

[2016-05-16 04:02] ACCTFORGH commented on #3
@niftylettuce  Thanks!

[2016-05-18 22:19] tarikjn opened #11 "res.body return a ReadableByteStream object on Chrome"
Hi,

I am using the latest verison of Chrome on OS X (`Version 50.0.2661.102 (64-bit)`), with `Frisbee`, and `response.body` will return `ReadableByteStream` instead of an expected response object as built by the result of parsing a json response.

This seems to be the [standard](https://www.chromestatus.com/feature/5804334163951616), but then why would the frisbee doc give this example? Trying to

[2016-05-19 17:01] niftylettuce commented on #11
@tarikjn if you submit a pull request I can take a look at reviewing and merging it.  Right now we're really geared towards writing our own custom glue around the standard fetch API, otherwise might as well use the fetch API directly

[2016-05-19 18:53] tarikjn commented on #11
@niftylettuce I am confused, this is a bug report to say that Frisbee does not work on Chrome, not to suggest changes to the Frisbee API.

Also the Frisbee API does not document how one is expected to use the response, so I have no idea if the response should be expected to be identical to a `fetch` response.

[2016-05-19 20:43] niftylettuce commented on #11
@tarikjn Ah!  Okay, I can get tests for all the browsers in and figure out what the bug is there.

The usage for the API is documented in the example.

For instance, if you want to make a POST request and pass along in the body the param `name=tarikjn`:

[code]

[2016-05-19 22:06] tarikjn commented on #11
Alright, so it looks like the problem is that `.body` conflicts with `fetch` browser implementations that support steams as they also use `.body` for the stream.

[2016-05-20 00:35] niftylettuce opened #12 "possible need for https://babeljs.io/docs/plugins/transform-async-to-generator/"

[2016-05-29 02:32] tonyxiao opened #13 "Debug logging"
How do you log request / response for debugging purposes with Frisbee?

[2016-05-29 23:10] tonyxiao opened #14 "Cannot set body of response which only has a getter"
Any ideas?
![image](https://cloud.githubusercontent.com/assets/696842/15636552/c50818dc-25b7-11e6-9090-0c459a0f4c3b.png)

[2016-05-29 23:13] niftylettuce commented on #14
Can you provide example?
On May 29, 2016 7:10 PM, "tonyxiao" <notifications@github.com> wrote:

[2016-05-30 00:52] tonyxiao commented on #14
Turns out that this error only happens when debugging in chrome with fetch polyfill turned off.
[code]

[2016-05-30 00:52] tonyxiao commented on #14
i suppose it's not widely applicable then.

[2016-05-31 18:01] niftylettuce commented on #14
I believe Frisbee does not work with Chrome at the moment - I will need to add cross-browser tests.  @tonyxiao might you be interested in adding this?  We could use SauceLabs, Browser Stack, Testling, or something else... hmm.

[2016-05-31 18:11] niftylettuce commented on #13
@tonyxiao nothing is built in right now, if you're on Node we could add `debug` package so you could run with `DEBUG=frisbee` environment flag, otherwise if on browser we'd have to put console logs or something, hmm...  Any ideas?  Pull request would be really welcomed!

[2016-06-06 19:41] schmoove commented on #10
We're using it for the new Syngency mobile app!

[syngency.com](syngency.com)

[2016-06-07 16:25] schmoove opened #15 "Missing babel-runtime?"
Is there something I'm missing after upgrading to 1.0.5 with the new "import" syntax? Continually getting this error now:

[code]

Help!

[2016-06-07 16:40] niftylettuce commented on #15
Taking a look

[2016-06-07 16:50] #15 closed

[2016-06-07 16:50] niftylettuce commented on #15
you're correct @schmoove, I'm releasing `1.1.0` and deprecating `< 1.1.0`.  Thanks for this critical bug find.

[2016-06-07 16:51] niftylettuce commented on #15
published to NPM version 1.1.0, try it out and let me know if this resolves your issue @schmoove

[2016-06-13 00:37] niftylettuce commented on #10
So awesome @schmoove !!!

[2016-06-28 15:36] tarikjn commented on #10
We're evaluating it at @iHeartRadio (one of the largest React app in term of traffic and complexity), however issue #11 is a blocker at the moment.

[2016-07-17 04:25] niftylettuce commented on #11
@tarikjn did you ever find a workaround or patch for this?  I'd love to have a collaborator on Frisbee!

[2016-07-17 18:22] tarikjn commented on #11
I actually discussed this issue with @stayman last week. We came to the conclusion that the native fetch object should really be nested in the Frisbee response instead of merged, this would avoid this issue and potentially others, while avoiding confusion on native vs. lib API.

@stayman suggested using Karma for browser testing.

Unfortunately, none of us have time to contribute yet, and likely w

[2016-07-17 18:25] tarikjn opened #17 "JSON.parse should not be used when native .json response is available"
Frisbee JSON.parse the response even when the native json responsive is available. JSON.parse is slow and so Frisbee should check if the natively parsed response is already available.

[2016-07-17 18:34] tarikjn opened #18 "Incorrect project description"
The project description reads:

but `fetch` is a WHATWG browser API spec, not an ES6/7 feature.

[2016-07-17 18:50] tarikjn opened #19 "babel-runtime seems to be deprecated"
It seems that `babel-runtime` is an undocumented package, the [official babel documentation](https://babeljs.io/docs/plugins/transform-regenerator/), suggest using either `babel-polyfill` (not a good idea for a lib) or Facebook's `regenerator-runtime/runtime`

On a higher level, I think Frisbee should not be using async/await and probably should stick to simple Promises. async/await are Promises b

[2016-07-31 16:55] casoetan commented on #8
HI @niftylettuce How do I get it to work with JWT.

tried
[code]

On inspecting the request, the token dispatched is wrong. This causes a JWT <code>Wrong number of segments</code>

[2016-07-31 17:00] niftylettuce commented on #8
I believe JSON Web Tokens have different headers than BasicAuth.  Perhaps you could add `api.jwt` method and send a pull request @casoetan?  I think some people even pass it in the body of the request as `token` field.  You could just do `await api.post('/authenticate', { body: { token: 'my jwt' } });`

[2016-07-31 17:44] casoetan commented on #8
@niftylettuce pull request sent.

[2016-08-02 03:48] niftylettuce commented on #8
Published v1.1.1 to npm.  `npm i --save frisbee@1.1.1` @casoetan

Thank you for your contributions!  Would you like to be a collaborator here?

[2016-08-02 04:50] casoetan commented on #8
That would be fine. What's the road map?

[2016-08-02 05:01] niftylettuce commented on #8
@casoetan Can you join me in Slack?  http://slack.crocodilejs.com  Might be easier to chat there.  I wanted to rewrite this package a bit -- and preserve the original `response` (or `res`) object rather due to issues in Chrome #11.  Basically I wanted to get this working on all browsers too with automated tests.  Have you experience there?  Thanks!

[2016-08-02 05:21] casoetan commented on #8
@niftylettuce I'm on you slack channel now.

Best, \Charles
Sent using CloudMagic [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=6.3.16&pv=8.3]
On Tue, Aug 2, 2016 at 06:01, niftylettuce <notifications@github.com> wrote:
@casoetan [https://github.com/casoetan] Can you join me in Slack? http://slack.crocodilejs.com [http://slack.crocodilejs.com] Might be easier to chat there. I wanted to rewrite this

[2016-08-05 03:50] niftylettuce opened #21 "ability to pass default options to GET methods"

[2016-08-10 03:26] Hosar opened #22 "Getting "Error: Invalid JSON received from" when exec on browser"
I have include import "isomorphic-fetch" but either way I'm getting "Frisbee {opts: Object, parseErr: Error: Invalid JSON received from ..." on the response.

[2016-08-10 03:55] niftylettuce commented on #22
Related to #11

[2016-08-20 16:57] jmm opened #24 "Incorrectly describes Fetch as part of ES"
This says in several places (in the README, on npm) that fetch is part of ECMAScript (6, or 7) but that's not correct. It's defined by a [WHATWG spec](https://fetch.spec.whatwg.org/). This in particular doesn't make sense:

- Availability of fetch has little to do with ES version support, except for Promise, which can be polyfilled in ES5.
- The expectation would likely be for an ES5 version on np

[2016-09-01 19:26] niftylettuce commented on #24
my apologies I was working on several projects at once haha, will fix this

[2016-11-15 10:51] udeesha opened #26 "Android Cookies are not persisted across network requests"
Hi,

When I am calling get its returning session expired. API is not getting cookie value along with get request. I can see the set-Cookie value in initial login(post) request. But its not using for next API calls. This is happening only in Android. iOS is working perfectly fine.

Any Idea what I am missing here.

[2016-12-29 01:29] bbil opened #28 "React Native: Android vs iOS JSON parsing"
Started working on polishing the Android version of our React Native application, and I came across a strange issue that I'm not sure how to solve.

I was not able to login to the application once I got it building. So, I did some debugging with log statements and found that the session token and other information from the login api call was not being saved properly. Doing console.log(response.bod

[2017-01-05 17:24] bbil commented on #28
@niftylettuce I've tried upgrading React Native like you suggested, and now Frisbee seems to be working correctly on Android.

[2017-01-05 17:24] #28 closed

[2017-01-07 20:33] Steague commented on #26
This is happening to me as well on Android

[2017-01-08 10:33] aretecode commented on #12
there is also this https://github.com/babel/kneden

[2017-01-24 01:00] 58a36f opened #32 "Credentials: 'same-origin' as options also?"
Would it be possible to add credentials as option to Frisbee constructor?

Now I have to call it in every post request:

[code]

[2017-01-25 19:03] niftylettuce commented on #32
yeah u can pass it as an option, `opts.credentials` I think <https://github.com/crocodilejs/frisbee/blob/master/src/frisbee.js#L103>

lmk if that works

[2017-03-07 14:43] jjhesk opened #33 "Authorization header should be customizable"
@niftylettuce when after login  there is a token key dispatched from the server and it should be saved in the device.
Can I use `auth('123123123ggg')` as the one string for future? Can i expect to see the header contains
`Authorization: 123123123ggg` as the authorised token? Is  it a way to store this piece of string into frisbee for future header use?

[2017-03-08 08:12] jjhesk opened #34 "are there any ways to turn off the cache"
when i refresh the page the information response is still the old one.

[2017-03-08 08:16] jjhesk opened #35 "are there any interceptor on for the request call"
as title

[2017-03-11 04:36] obykoo opened #36 "Support multipart/form-data for file uploading?"
This does not seem to support 'multipart/form-data' for file uploading?

[2017-03-12 16:07] niftylettuce commented on #36
@obykoo have you tried using `form-data`?

example:

[code]

if this works for you, let me know

[2017-03-14 09:14] niftylettuce commented on #36
@obykoo another note - if you're using this on the client side, you need to delete the `Content-Type` header per <http://stackoverflow.com/a/35799817>, e.g. <https://github.com/crocodilejs/crocodile-node-mvc-framework/blob/development/src/assets/js/core.js#L222-L229>

[code]

[2017-03-14 09:14] #36 closed

[2017-03-17 12:24] davidbq opened #37 "Add querystring"
Hi guys, can someone explain me how to add a querystring to my request? Reading the documentation it says I can do it but I haven't found the way to do it.

Imagine my `baseURI` is: `https://mybaseuri.com/ `
My service is: `users`
And I want to add: userId=0209206245902063

So it should look like `https://mybaseuri.com/users?userId=0209206245902063`

An example would be really appreciated. Thanks

[2017-03-17 23:39] niftylettuce commented on #37
Just specify it as the body, e.g. if you want `?foo=bar&baz=beep`:

api.get('/baz-beep', { body: { foo: 'bar', baz: 'beep' } });

💥

[2017-03-17 23:39] #37 closed

[2017-03-17 23:40] niftylettuce commented on #37
@davidbq here's the relevant code from the source that does this magic for you 🎉

https://github.com/crocodilejs/frisbee/blob/master/src/frisbee.js#L155-L157

[2017-03-20 09:52] davidbq commented on #37
Awesome!!!
Thanks a lot.

[2017-03-22 03:43] aretecode commented on #24
https://github.com/crocodilejs/frisbee/issues/18

[2017-03-22 03:43] #18 closed

[2017-04-02 15:44] niftylettuce commented on #18
Fixed this, see 1.1.9.

[2017-04-02 15:45] niftylettuce commented on #24
Fixed this, see 1.1.9.

[2017-04-02 15:45] #24 closed

[2017-04-05 05:00] aretecode commented on #18
https://github.com/joinspontaneous/frisbee/commit/4f4e5ed28f70627972e2c188be2ee6fd293d2b4e

[2017-04-05 05:00] aretecode commented on #24
https://github.com/joinspontaneous/frisbee/commit/4f4e5ed28f70627972e2c188be2ee6fd293d2b4e

[2017-04-29 17:46] #17 closed

[2017-06-01 02:39] bang88 opened #44 "error frisbee@1.4.0: The engine "node" is incompatible with this module. Expected version "6.x||7.x"."
~RT
We upgrade node to node 8 this error appear
Please publish a new version so we can use other package, now its blocking we add new package.

Thanks

[2017-06-01 17:28] #44 closed

[2017-06-01 17:28] niftylettuce commented on #44
see v1.4.1

[2017-07-26 16:31] Assem-Hafez commented on #35
Try https://github.com/Codelabsys/frisbee-intercept

[2017-07-27 02:48] niftylettuce commented on #35
@Assem-Hafez any interest in adding this to frisbee itself?

[2017-07-27 10:20] Assem-Hafez commented on #35
@niftylettuce sure, i think this is where it should be. i will send you a pull request ASAP (Y).

[2017-08-31 20:30] niftylettuce opened #45 "Add module exports."

[2017-09-09 23:29] #45 closed

[2017-09-13 03:23] OmgImAlexis commented on #33
Also it'd be nice to have the option of authorisation header, custom header or even query string.

For example my application accept either a JWT in the authorisation header or `api_key=` in the url.

[2017-09-13 19:26] niftylettuce commented on #33
Once you set `auth(str)` it saves it for the API for future requests.  If you call `auth()` again without a value it unsets it.  Similarly I believe `api.jwt()` or `api.jwt(null)` will also unset value.  See the docs API section for more info.   I think that `api_key=` in URL is non-standard.  But it could be added, you can simply set default query string parameters with your own custom logic.  PR

[2017-09-13 19:27] #33 closed

[2017-09-13 19:38] niftylettuce commented on #35
Closed via https://github.com/niftylettuce/frisbee/issues/35.  Please install frisbee@1.6.0+.

[2017-09-13 19:38] #35 closed

[2017-10-23 23:31] ivanquirino opened #50 "Estrange parseErr"
When I test this:
[code]
I've got this:
[code]

I haven't done any requests before calling that code, so I must assume this is some kind of bug?

[2017-10-23 23:43] OmgImAlexis commented on #50
[code]

[2017-10-23 23:46] OmgImAlexis commented on #50
That actually isn't an error it's the error that's bound to the Frisbee class.

@niftylettuce is there anyway we can hide that error from the class?

[2017-10-24 14:11] maikokuppe commented on #34
I took a look in the code and it seems that the `options` are passed to the native `fetch` implementation:
https://github.com/niftylettuce/frisbee/blob/master/src/frisbee.js#L184

According to the [https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch](Fetch API) you need add the `cache` key with value `reload` to the options:

[code]

[2017-10-25 01:25] OmgImAlexis commented on #34
@niftylettuce maybe add some docs showing that opts can be passed through to fetch?

[2017-11-02 21:14] haseebnaseem opened #51 "Helpful error messages when the request fails"
Is there a way that some helpful error messages can be thrown rather than just 'Network request failed' because that does not really tell anything about the failure. Any help will be appreciated.

[2017-11-02 23:36] niftylettuce commented on #51
@haseebnaseem can you provide an example to reproduce the error you have?

did you see the docs and how you can catch `res.err`?  if there's a network error there's not much else we can do.  please provide a reproducible test case or more information please.

[2017-11-02 23:39] niftylettuce commented on #51
you can also use Chrome Developer Tools and view the Network tab, then make a request and it should show their for you to inspect headers/request/response.

[2017-11-02 23:50] haseebnaseem commented on #51
I am using the package for react native and it would be helpful in the way
that I can decide what error message to show to the user. For instance if
the api is down, or the connection user has is slow and timing out.

On Nov 3, 2017 4:36 AM, "niftylettuce" <notifications@github.com> wrote:

[2017-11-03 00:14] OmgImAlexis commented on #51
@haseebnaseem not all of that can be accessed via the APIs frisbee uses. The same goes for other libs like this. The browser doesn't expose enough information in order for Frisbee to know what the reason was for the network not being there.

It could be a proxy setting that's blocking it, your wifi could have dropped, your internet could be slow, it could be the other end's connection, it could be

[2017-11-03 01:39] haseebnaseem commented on #51
I understand that. Is there a way to handle network errors ? I am trying to use an interceptor by intentionally shutting down the api and the interceptors catches the error in the `responseError` function but even the api is back up again, the `responseError` function triggers.

[2017-11-03 13:55] gcolton opened #52 "XML response support"
Looking briefly through the docs, I wasn't able to find support for XML responses from a server (e.g. response of type Document to allow for XML dom parsing). Did I miss something? Any advice on a set up to deal with both XML and JSON responses from a server?

[2017-11-03 14:27] niftylettuce commented on #52
you can change the headers to something like:

[code]

and then use a parser like https://www.npmjs.com/package/fast-xml-parser or https://github.com/Leonidas-from-XIV/node-xml2js

[2017-11-03 14:27] #52 closed

[2017-11-03 14:27] niftylettuce commented on #52
if this doesn't work lmk and can reopen

[2017-11-03 14:28] niftylettuce commented on #51
yeah wrap with a `try/catch`?

[2017-11-03 14:28] #51 closed

[2017-11-12 11:35] OmgImAlexis commented on #11
@tarikjn if you can add a failing test I'll have a look at this when I'm free.

[2017-11-25 19:42] niftylettuce opened #55 "Add examples and support for streams/buffers"

[2017-11-25 19:56] niftylettuce commented on #55
Basically we need to add this to docs and write tests:

[code]

[2017-12-07 09:42] pablopunk commented on #50
It could be a `const` inside `frisbee.js`

[code]

I don't think it's worth to export the error in the module

[2017-12-13 17:27] zsherman commented on #3
@niftylettuce seems like this landed in https://github.com/whatwg/fetch/pull/523

[2018-01-19 05:17] calhouncole opened #56 "Body parameters are empty in POST"
Whenever making a POST request, the variables passed in body are empty. When passing the following to a POST endpoint, the result is {}

[code]

It works perfectly well with GET requests to GET endpoints.

[2018-02-05 08:07] OmgImAlexis opened #57 "Add typescript definition"

[2018-02-15 09:14] bisubus opened #58 "Optional baseURI"
I was very enthusiastic about this package but had to switch back to Axios after figuring out that Frisbee is unable to do requests that are relative to current domain like `api.get('/api/endpoint')`.

Host environment variable isn't always available or practical. I would suggest to make it optional, as it is in every other library around.  If mandatory baseURI is there to address native platforms

[2018-02-15 14:34] OmgImAlexis commented on #58
Could you not use `window.location` to set the baseURI dynamically? Or even set an interceptor to change it according to the current `window.location`?

[2018-02-15 15:13] bisubus commented on #58
I likely can but I'm not sure why it should be done this way.
location.origin isn't available in all browsers so base url should be constructed from location manually. It looks like unnecessary complication for a dev.

[2018-02-22 04:30] OmgImAlexis opened #60 "Bump es7 preset"
Waiting on https://github.com/meetearnest/eslint-config-earnest-es7/pull/30

[2018-02-22 04:33] #60 closed

[2018-02-23 23:29] Noitidart commented on #3
@niftylettuce may you please share how you do the abort in react-native, I am trying to do the same in RN.

[2018-02-26 19:58] AhmedAliIbrahim commented on #26
any updates on this ?

[2018-03-05 16:10] fourcolors commented on #11
I'm getting this error using react native in a saga right now. Specifically the part about Invalid JSON

[2018-03-29 13:36] kuzvac commented on #57
@OmgImAlexis maybe add this definition to https://github.com/DefinitelyTyped/DefinitelyTyped? :)

[2018-04-13 15:17] fdobre commented on #26
Hello, does this still happen in version 1.6.4?

[2018-04-13 17:11] niftylettuce commented on #26
Doesn't work even with `credentials: 'include'` option?

[2018-05-01 08:03] cms24us opened #63 "param over url not working on v1.6.4"
as a exemple, i make GET over 'http://api.test.com/products/?name=&param1=&param2=false&param3=false&param4=false'

this kind of call works on version 1.6.0 but didn't work on version 1.6.4.

it's giving me a authentication error (401). but the token is past correctly.
i have no idea about what change between the two version but something go wrong.

[2018-05-18 06:05] niftylettuce commented on #60
See v2.0.0 via `npm install frisbee@latest` or `yarn add frisbee@latest`.

This release includes refactoring for Node v10+ support, new tests with `ava` (instead of `mocha`), and use of `@babel/preset-env` targeted to Node v6.4+ and the last 2 versions of browsers (see `.babelrc` and `.browserslistrc`).

[2018-05-18 13:27] theomathieubhvr opened #64 "Releases notes for 2.0.0"
It would be nice if all of us know what changed in this package.

Thanks !

[2018-05-18 17:15] niftylettuce commented on #64
Thanks for opening this.  There were no breaking changes, but I did completely change the test frameworks and added support for older versions of Node and the browser.

Updates in 2.0.0+:

- Rewrote tests to use `ava` (instead of `mocha`)
- Added `@babel/preset-env` with targets for `node` v6.4+ and the last 2 versions of browsers (see `.babelrc` and `.browserslistrc`)
- Updated Contributors list

[2018-05-18 17:15] #64 closed

[2018-05-18 17:16] niftylettuce commented on #58
yeah @bisubus we'll def fix this up.  give us a little bit

[2018-05-18 22:36] OmgImAlexis commented on #63
Could you please provide me with a reproducible code sample? I don't really have much to by with what you've provided so far.

Also would you mind please updating and just check that you're still having the same issue with `v2.0.1`.

[2018-05-18 22:38] OmgImAlexis commented on #56
@calhouncole
Would you mind please updating and just checking that you're still having the same issue with `v2.0.1`?

[2018-05-21 07:31] #12 closed

[2018-05-21 07:33] niftylettuce commented on #11
Just an update here - you can look at original response via `res.originalResponse`

As of v2.0.1 (about to be released in a few minutes) you can now pass `raw: true` to get raw fetch response so you can run your own methods on it, e.g. `res.json()` or `res.arrayBuffer()`

[2018-05-21 07:33] #11 closed

[2018-05-21 07:33] niftylettuce commented on #19
v2.x+ uses babel-preset-env and is compiled down to support node v6.4+ and major browsers via `.browserslistrc`.  there's also eslint browser compat testing built in now too.

[2018-05-21 07:33] #19 closed

[2018-05-21 07:34] niftylettuce commented on #14
frisbee should work in chrome afaik now, if any issues lmk

[2018-05-21 07:34] #14 closed

[2018-05-21 07:34] #58 closed

[2018-05-21 07:36] niftylettuce commented on #58
done, please use v2.0.2+ - I've updated the README as well.

`npm install frisbee@latest` or `yarn add frisbee@latest`

[2018-05-21 07:37] niftylettuce commented on #11
Sorry I meant v2.0.2+***

[2018-05-21 07:53] #50 closed

[2018-05-21 07:54] niftylettuce commented on #50
Fixed in version 2.0.3, please install via `npm install frisbee@latest` or `yarn add frisbee@latest`

[2018-05-21 09:58] #55 closed

[2018-06-23 00:51] niftylettuce opened #66 "Integrate fetch-retry"
https://github.com/jonbern/fetch-retry

[2018-07-02 10:23] ralfisalhon opened #67 "Network Request Failed"
Hello! I am trying to set up a phone verification using https://github.com/joinspontaneous/react-native-phone-verification

I am currently only using their example code, given here: https://github.com/joinspontaneous/react-native-phone-verification/blob/master/example/index.ios.js

However, I get this result when trying to run their code:
![simulator screen shot - iphone 8 - 2018-07-02 at 13 21 34

[2018-07-15 18:47] niftylettuce commented on #57
I won't be supporting TS in this repo, apologies

[2018-07-15 18:47] #57 closed

[2018-07-31 12:50] vlad-zhukov opened #68 "Body handling for get and delete methods"
Currently Frisbee converts body into a query string for `get` and `delete` methods. That's weird because it's an artificial limitation and there is no way to workaround it. On the other hand it requires additional tooling to add a query string to an url.

I propose to bring `get` and `delete` methods in line with the rest of methods and introduce a `params` option, that will stringify params and a

[2018-08-02 10:34] liamjones opened #69 "Set request timeout?"
Is there a way to set timeouts on requests made via Frisbee?

[2018-08-21 20:09] bugeats opened #70 "Allow explicit passing of fetch implementation"
Something like this:

[code]

[2018-08-21 20:11] bugeats opened #71 "Custom error types"
It would be nice for downstream error handling if frisbee had custom error types like `FrisbeeRequestError`, or even allowed for specifying error types in config.

[2018-08-21 20:28] bugeats opened #72 "Logger hook"
Would be great to add some optional request logging with something like:

[code]

[2018-08-29 23:37] Overtorment commented on #10
https://bluewallet.io/

[2018-08-29 23:38] Overtorment opened #73 "How do I specify timeout for a request?"

[2018-09-27 04:38] niftylettuce commented on #73
looking for someone to help me add it - see #66

[2018-09-27 04:38] niftylettuce commented on #69
looking for someone to help me add it - see #66

[2018-09-27 04:39] #22 closed

[2018-09-27 04:40] niftylettuce opened #74 "Add generated uuidv4 `X-Request-Id`"

[2018-09-27 05:32] niftylettuce opened #75 "Switch to cross-fetch"
<https://github.com/lquixada/cross-fetch>

[2018-10-01 07:49] liamjones commented on #69
Ah, I missed that one when searching, thanks

[2018-10-01 07:49] #69 closed

[2018-10-02 22:41] kasbah commented on #66
Could you explain why #73 amd #69 were linked here? They seem to be about setting a request timeout, a time period after which the request should be abandoned, like the `XMLHttpRequest` timeout. I don't think integrating a "retry" package will help with that.

[2018-10-02 22:58] niftylettuce commented on #66
I think that `.retry` and `.timeout` options should be added together to be honest.

[code]

[2018-10-02 22:59] niftylettuce commented on #73
https://www.npmjs.com/package/fetch-timeout

[2018-10-03 13:03] elvinas-engagecraft commented on #70
+1

Also it needs to be mentioned that the documentation is misleading now:

The library does not use RN fetch implementation it uses the ponyfill instead (look here #49).
The side effect of this is that it is impossible to use [fetch-token-intercept](https://github.com/shoutem/fetch-token-intercept) to refresh oauth access_token on 401. If we could pass the fetch implementation we could use this

[2018-11-26 16:01] tiagobsbraga opened #76 "certificate"

[2018-11-26 16:02] #76 closed

[2018-12-05 15:03] nccharles commented on #67
I have the same issue anyone to help

[2018-12-09 10:17] lItc0de opened #77 "http methods not available in jest tests"
Hi, I'm trying to test my application with jest and noticed, that I don't have the http methods on my Frisbee instance.
*Scenario:*
[code]
*Result:* `api.get` is undefined

When I link frisbee locally with `yarn link` and import the `src`:
[code]
*Result:* `api.get` is defined

Could not find out why. The code in `frisbee/dist/index.js` seems to implement these methods 🤷‍♂️

Thanks for ur help 🙏

[2018-12-09 12:37] lItc0de commented on #77
Ok got it, my test setup is screw up ^^

[2018-12-09 12:37] #77 closed

[2019-01-09 23:45] Bradzer commented on #63
Same here.
Passing parameters over URL does not work on version 2.0.5.

Example: https://wordsapiv1.p.mashape.com/words?random=true

[2019-01-09 23:47] Bradzer commented on #10
I am :)

[2019-01-11 10:05] ivkrpv commented on #63
confirm, still using 1.6.1 because of this issue

[2019-01-31 09:06] MatteoGioioso commented on #68
Any update on this?

[2019-02-15 18:08] akmjenkins commented on #10
I'm going to start as soon as the [cross-fetch](https://github.com/niftylettuce/frisbee/pull/79) PR gets released on NPM. Testing is painful right now.

[2019-02-15 18:12] niftylettuce commented on #10
Releasing it now, one sec

[2019-02-15 19:34] niftylettuce opened #82 "Rewrite codebase after removing xo rules that are turned off"
In package.json we have several rules turned off in the "xo" property block.  We should remove these overridden rules and rewrite the codebase so that the rules are obeyed.

[2019-02-15 19:48] niftylettuce commented on #10
@akmjenkins thanks! version 2.0.6 of frisbee has been released, see <https://github.com/niftylettuce/frisbee/releases/tag/v2.0.6> for release notes.  I've also updated the README at <https://github.com/niftylettuce/frisbee> and provided clearer examples and usage.

[2019-02-15 19:48] niftylettuce commented on #82
cc @davidgovea

[2019-02-15 19:54] niftylettuce commented on #66
Correct @kasbah, but in an ideal world we want to retry X number of times after Y number of timeout seconds per retry.

[2019-02-15 19:55] niftylettuce commented on #66
cc @davidgovea

[2019-02-15 20:01] #75 closed

[2019-02-20 15:11] akmjenkins commented on #70
This is fixed with #84

[2019-02-20 15:30] #70 closed

[2019-03-02 15:06] antgel opened #85 "Error / stack trace whenever API returns non-ok response"
I'm using frisbee in an expo project, consuming a Python ([Flask-Classful](http://flask-classful.teracy.org/)) API. Whenever my API returns a non-`ok` response, I get a stack trace as follows:

[code]

It's kind of difficult for me to debug, because my local `node_modules/frisbee/lib/index.js` is so different to the code in git, I believe due to regenerator. I'd be happy to learn how to debug this

[2019-03-02 16:53] antgel commented on #85
After all that, this was my bad. It was caused by performing another API call from my app even though the previous one failed, was caught and the code should have stopped instead of attempting to continue as usual. I'm not sure if there is a genuine use case for this kind of behaviour, so closing and will reopen if necessary.

[2019-03-02 16:53] #85 closed

[2019-03-02 22:33] antgel opened #86 "Retrying request after refreshing JWT access token in response interceptor"
I understand that interceptors are a good way to um, intercept, when my server responds with 401 because the JWT access token has expired. So far, I have something like:

[code]

This is a good start. My Expo app calls `/users/refresh/` on 401, and updates the access token as expected. But then I need to call the original URL again (the one that returned the 401 in the first place). What's the rec

[2019-03-09 20:06] antgel commented on #86
Whilst waiting for any community response, I am doing the following to achieve this. I'm not sure if this is a better or worse solution than trying to use interceptors, but naively it seems to work:

[code]

In practice, I use a generic wrapper to handle all the HTTP verbs, but I wanted to keep things simple in here. :)

Happy to hear any comments.

[2019-03-14 01:43] akmjenkins commented on #86
No way to do it in frisbee (right now) because the response interceptor doesn't provide you with details of the original request. If the response interceptor did provide this, it'd be a piece of cake, but without it, you're out of luck.

Good use case to create a PR to add original request parameters into the response interceptor.

[2019-03-14 08:21] antgel commented on #86
Thanks for the answer! My question would be, would such a PR be any "better"(*) than what I eventually implemented, or mere aesthetics? Refreshing a JWT certainly seems like a common use case.

(*) Whatever "better" may mean... :)

[2019-03-14 11:48] akmjenkins commented on #86
@antgel depends on how you want to look at it :) It'd move the short (and great!) snippet you wrote from your codebase to the library. It's unlikely you're the only person using frisbee with JWTs.

I like implementing this using a response interceptor, but, yeah, like I said, you can't do it with frisbee right now. Frisbee does have open issue #66 to investigate integrating a retry mechanism, but

[2019-03-17 13:21] rommyarb commented on #86
⚛⚛⚛
Hello guys. Maybe what I will ask is out of topic.
Is this library good for React web app? Or is it only good for React Native?
Thank you.

[2019-03-18 20:03] niftylettuce commented on #86
@rommyarb 	yes this works great for React.

[2019-03-19 16:08] The-Developeur opened #87 "TypeScript definiton"
Hello,
Can you please add typescript definition to the librairie beacause your librairie is very nice for react-native and it has no equivalent.
Thank You !

[2019-03-19 20:05] niftylettuce commented on #87
I do not support nor use TypeScript.  It is not pure JavaScript and it is not community-friendly for contributors.  Unfortunately I only use vanilla JavaScript across all of my projects to ensure the community can easily contribute.  Thank you though.

[2019-03-19 20:05] #87 closed

[2019-04-05 07:43] juanjsebgarcia commented on #67
For anyone coming across this in the future. My issue was that I was using `localhost` on the device which does != `localhost` on the development PC. Once I used the IP of my development machine the error vanished.

[2019-04-10 01:05] kz26 opened #88 ".get() method strips trailing slash when GET params are passed in body"
Affects latest version 2.0.6.

Basic example:
[code]

On my test server, the request URL received is `https://some-url.com/api/things?param=something`, i.e. the trailing slash before the query string is missing. This isn't a big deal in most cases, but for web frameworks like Django that 301-redirect all URLs without trailing slashes, it adds an unnecessary redirect and extra HTTP request.

[2019-04-18 03:01] davidgovea commented on #88
I'm seeing that behavior too. `fetch` leaves trailing slashes in place, so it makes sense to have frisbee match fetch's behavior.

Tried to write a quick test, but express (used for the test server) does not distinguish between `/route` and `/route/`, so a different approach will be needed. Perhaps spying on the calls to `fetch` to observe the processed URL.

Thanks for reporting!

[2019-04-25 09:56] nccharles commented on #67
Please specify your own Bulk SMS URL fixed for me!

[2019-06-01 18:37] niftylettuce commented on #3
I've released v2.0.10 to NPM with support for this!

See https://github.com/niftylettuce/frisbee/pull/83#issuecomment-497967995

[2019-06-01 18:37] #3 closed

[2019-06-01 18:43] niftylettuce commented on #34
Done.

[2019-06-01 18:43] #34 closed

[2019-06-01 18:44] niftylettuce commented on #26
Closing, if this issue still persists let me know.

[2019-06-01 18:44] #26 closed

[2019-06-01 18:45] #67 closed

[2019-06-01 18:45] #82 closed

[2019-06-01 18:45] niftylettuce commented on #10
v2.10.0 is released with abort support!

[2019-06-01 18:45] #10 closed

[2019-06-01 18:47] niftylettuce commented on #71
Not sure where we would add this?  Can you give an example of usage or make a PR so I know what you mean?  We pretty much just use native errors.

[2019-06-01 18:47] #71 closed

[2019-06-01 18:47] niftylettuce commented on #56
Closing, if this issue still persists let me know.

[2019-06-01 18:47] #56 closed

[2019-06-01 18:47] #21 closed

[2019-06-01 18:48] niftylettuce commented on #32
You can pass `credentials: 'same-origin'` in your API requests since Frisbee passes `options` to the native Fetch implementation.

[2019-06-01 18:48] #32 closed

[2019-06-03 17:48] niftylettuce opened #90 "Feature: Follow redirects and add cookie support out of the box"
New default options to be passed to fetch:

- `redirect: 'follow'`
- `credentials: 'include'`

[2019-06-03 17:50] niftylettuce opened #91 "Feature: Support GZIP/compression out of the box"
We can probably get inspiration from <https://github.com/sindresorhus/got/blob/6eaa81ba8db87340bbdbd79ef91594803f37b854/source/normalize-arguments.ts#L207-L209>.

[2019-06-03 17:51] niftylettuce opened #92 "Feature: Timeout and Retry"
I'm writing my thoughts down here, because I do not have the time right now to dedicate to adding this, however hopefully someone in the community might be able to. I'm closing #66, #69, #73 in favor of this single issue.

cc @kasbah @akmjenkins @davidgovea

## Retry

### Requirements

We should not retry on all 500 status error codes as every other fetch retry package does - instead we should ret

[2019-06-03 17:54] niftylettuce commented on #66
Closing in favor of #92

[2019-06-03 17:54] #66 closed

[2019-06-03 17:54] niftylettuce commented on #69
Closing in favor of #92

[2019-06-03 17:54] niftylettuce commented on #73
Closing in favor of #92

[2019-06-03 17:54] #73 closed

[2019-06-03 18:01] #13 closed

[2019-06-03 18:01] #72 closed

[2019-06-03 18:08] niftylettuce commented on #86
Closing in favor of #92

[2019-06-03 18:08] #86 closed

[2019-06-03 18:08] niftylettuce commented on #92
Also, per #92 we should allow a custom callback function to be called on retries, which would allow JWT refresh tokens to be updated for example.

[2019-06-03 20:39] niftylettuce commented on #68
There is a new option being added to v3.0.0 which will be released later today.  I will post another comment here which will inform you how to workaround this with the new option, it's pretty simple.

However I should inform you that according to https://tools.ietf.org/html/rfc7231 and also https://stackoverflow.com/questions/978061/http-get-with-request-body it is not a standard nor is there a se

[2019-06-03 21:29] #90 closed

[2019-06-03 21:34] niftylettuce commented on #68
Also `node-fetch` itself does not allow a body on GET nor HEAD:

https://github.com/bitinn/node-fetch/blob/master/src/request.js#L75-L78

[2019-06-03 21:48] akmjenkins commented on #92
My fetch-retry approach was to leave it entirely up to the user (no opinions based on server response codes). It could be passed into a base frisbee instance or individual requests. The API was pretty straightforward:

[code]

The only tricky parts were those you pointed out - don't retry if the `AbortController.signal.aborted === true`

The `retryFn` was especially helpful because it allows the u

[2019-06-03 22:05] niftylettuce commented on #92
I like the simplicity of that - but I think that you could eliminate `retryOn` and have that logic be up to the user in `retryFn`.  Then we could make a default `retryFn` that checks against  `isRetryAllowed` was `true` OR if status code was 429, 502, 503, or 504, AND ALSO checks against the Retry-After header if it existed.

[2019-06-03 22:15] niftylettuce commented on #13
In v3.0.0 of Frisbee you can do `DEBUG=frisbee node app.js` as we have `debug` integrated

[2019-06-03 22:15] niftylettuce commented on #13
Soon to be released

[2019-06-03 22:15] niftylettuce commented on #72
In v3.0.0 of Frisbee you can do `DEBUG=frisbee node app.js` as we have debug integrated.  Soon to be released.

[2019-06-03 22:32] niftylettuce commented on #68
I've fixed this and it will be released in v3.0.0 later today.

[2019-06-03 23:29] niftylettuce commented on #72
v3.0.0 is released with the ability to do `DEBUG=frisbee node app.js` to output debug statements.

[2019-06-03 23:30] niftylettuce commented on #13
v3.0.0 is released with the ability to do DEBUG=frisbee node app.js to output debug statements.

[2019-06-03 23:30] niftylettuce commented on #90
v3.0.0 is released which fixes this issue 🎉

`npm install frisbee@latest`

[2019-06-03 23:30] niftylettuce commented on #32
v3.0.0 is released which fixes this issue 🎉

`npm install frisbee@latest`

[2019-06-03 23:30] niftylettuce commented on #21
v3.0.0 is released which fixes this issue 🎉

`npm install frisbee@latest`

[2019-06-03 23:30] niftylettuce commented on #68
v3.0.0 is released which fixes this issue 🎉

`npm install frisbee@latest`

[2019-06-03 23:30] #68 closed

[2019-06-03 23:30] niftylettuce commented on #88
v3.0.0 is released which fixes this issue 🎉

`npm install frisbee@latest`

[2019-06-03 23:30] #88 closed

[2019-06-03 23:30] niftylettuce commented on #63
v3.0.0 is released which fixes this issue 🎉

`npm install frisbee@latest`

[2019-06-03 23:30] #63 closed

[2019-06-04 02:21] bugeats commented on #72
Debug statements aren't the same as a logging hook, but ok.

[2019-06-04 02:28] niftylettuce commented on #72
Ill add one in tonight for you

On June 4, 2019 2:21:30 AM UTC, Chadwick Dahlquist <notifications@github.com> wrote:

[2019-06-04 09:35] antgel commented on #92
Great to see the activity around here! :) I don't mind that #86 was closed in favour of this, but does the above issue description include relevant details to handle that scenario? (Retrying a request after refreshing JWT access token.)

[2019-06-04 17:00] niftylettuce commented on #72
:tada: v3.0.1 is released with support for a custom `logRequest` and `logResponse` option :tada:

Here's a quick example, but you can see the [Logging and Debugging](https://github.com/niftylettuce/frisbee#logging-and-debugging) section of the README for more insight.

[code]

Try it out and let me know if it works or if you need anything further:

[code]

P.S. You are correct in that `xhook` does

[2019-06-04 17:01] niftylettuce commented on #13
:tada: v3.0.1 is released with support for a custom `logRequest` and `logResponse` option :tada:

Here's a quick example, but you can see the [Logging and Debugging](https://github.com/niftylettuce/frisbee#logging-and-debugging) section of the README for more insight.

[code]

Try it out and let me know if it works or if you need anything further:

[code]

[2019-06-04 17:09] niftylettuce commented on #13
Just an update - v3.0.2 now supports `logResponse` having three arguments, `path`, `opts`, and `response`.  It looks now like this:

[code]

[2019-06-04 17:09] niftylettuce commented on #72
Just an update - v3.0.2 now supports `logResponse` having three arguments, `path`, `opts`, and `response`.  It looks now like this:

[code]

[2019-06-04 17:17] niftylettuce commented on #92
Yeah @antgel, you would be able to refresh JWT token in `retryFn`.

@akmjenkins I'll gladly award you the bounty if you can open a PR for this <https://github.com/niftylettuce/bug-bounties/issues/5>

[2019-06-04 17:28] antgel commented on #92
Oops, I missed it, it was in https://github.com/niftylettuce/frisbee/issues/92#issuecomment-498365495. :)

[2019-06-04 19:36] niftylettuce commented on #92
We should also use https://github.com/sindresorhus/p-queue to create a queue of requests that can be processed.

[2019-06-04 19:36] bugeats commented on #72
Perfect! Nice work.

[2019-06-04 21:00] niftylettuce opened #93 "Feature: Hooks"
We can probably get rid of the logging hooks we have already once we have this in place - this is because someone could just use the hooks feature for logging itself.

[2019-06-07 04:15] niftylettuce commented on #92
Just FYI I already implemented timeout and retry locally.  Just need to push it up.  I definitely need some help with tests.

[2019-06-13 09:05] Anitorious opened #94 "Error: unsupported BodyInit type when attempting to post data to endpoint accepting the "application/x-www-form-urlencoded" content-type"
After updating to the latest version of frisbee to make use of the new abort features, I've encountered errors with posting data in a url-encoded format. I'm downgrading for the time being as I have no issues with v2.0.6.

An example of the offending code is as follows:

[code]

The end point accepts this format, and this format alone. One thing to note is this error is being thrown before the req

[2019-06-14 14:29] elvinas-engagecraft commented on #94
This is a very serious issue. This line breaks everything now:
https://github.com/niftylettuce/frisbee/blob/master/src/index.js#L289

If you pass a JSON string it will be spread into letters. If you pas a FormData object it will be spread as a simple JS object.

Normally, you should pass a FormData object as a body and the the fetch implementation should handle it (whatwg-fetch)

[2019-06-14 19:48] niftylettuce commented on #94
Thank you @elvinas-engagecraft and @Anitorious, will have this patched, tested, and released soon.

[2019-06-21 21:56] niftylettuce commented on #93
Interceptors are basically hooks so people can just use that 😄

[2019-06-21 21:56] #93 closed

[2019-06-21 21:57] niftylettuce commented on #92
I pushed my work in progress by the way at <https://github.com/niftylettuce/frisbee/commit/38d225256f87a1ede5ae616b576da166206dd8a4> if anyone wants to help out with it.

I would love help writing tests for it.  Timeouts/retries all need tested.

[2019-06-21 21:59] niftylettuce commented on #92
What's left:

- [ ] Write tests for timeout
- [ ] Write tests for retry
- [ ] Try to get 100% code coverage
- [ ] Any instance of polyfill.io need to have proper listing of polyfills (e.g. https://github.com/niftylettuce/frisbee/commit/38d225256f87a1ede5ae616b576da166206dd8a4#diff-eacf331f0ffc35d4b482f1d15a887d3bR15 is empty right now)
- [ ] Ensure `timeout`, `retry`, `retryStatusCodes`, `retryMet

[2019-06-21 22:00] niftylettuce commented on #85
@antgel note that you can use interceptors to debug requests/responses easier - see the README for more insight/examples

[2019-06-21 22:00] niftylettuce commented on #72
@bugeats note that you can use interceptors to debug requests/responses easier - see the README for more insight/examples

[2019-06-25 23:38] dwitmexico opened #95 "How download a image with Frisbee?"
`var api = new Frisbee({
      baseURI: ''
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'image/png'
      }
    });

    // this is a simple example using `.then` and `.catch`
    api.get('https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=JordiCampRubiHoms').then(console.log).catch(console.error);`

I can't see the image.
How works?

[2019-07-24 06:38] gynet opened #96 "api.auth API should accept a function instead of static singleton string"
Most web clients are getting jwt token strings from 3rd libs, so usually it returns from a sync/async/callback function.
I think to make api.auth accepting a static token string shared by the entire lifecycle of the lib might not be a good idea.

The client libraries written by other programming languages usually have a "TokenProvider" api which can accept a "function delegate" to support setup th

[2019-07-24 13:27] niftylettuce commented on #96
PR welcome

[2019-07-24 13:27] #96 closed

[2019-09-19 21:06] niftylettuce opened #98 "Possible race conditions"
[code]

[2019-09-22 02:37] YanYuanFE opened #99 "React Native use frisbee get api not work"
Thanks.
[code]
res.boy is undefined, and res.json error。
![image](https://user-images.githubusercontent.com/17774285/65381489-fd50c180-dd24-11e9-9738-328c3057c60f.png)

[2019-09-25 16:00] Almouro opened #100 "Breaking changes in v3"
Hi @niftylettuce!

From what I can see, some breaking changes were introduced in v3 but are not necessarily mentioned in v3:
- config changes (`arrayFormat` should now be in `stringify` object)
- query params are now parsed and encoded even if hardcoded in the url

Would it be possible to have a list of breaking changes introduced in v3?

[2019-10-04 04:26] Bradzer opened #101 "Could not find a declaration file for module Frisbee"
After installing frisbee `3.1.0` and requiring it with `const Frisbee = require('frisbee');` I have the error.

[2019-10-21 03:51] bradjones1 commented on #94
I believe I'm running into a similar issue when attempting to post to a json:api endpoint, e.g.:

[code]

Yields:

[code]

[2019-10-21 05:02] bradjones1 commented on #94
Submitted a PR. This probably exposes a hole in test coverage, as well?

[2019-11-27 22:03] niftylettuce commented on #101
Not sure what you mean by this.

[2019-11-27 22:03] #101 closed

[2019-11-27 22:05] #94 closed

[2019-11-27 22:06] niftylettuce commented on #100
I am working on this now

[2019-11-28 00:09] niftylettuce commented on #100
All changes are noted under Releases section <https://github.com/niftylettuce/frisbee/releases> here on GitHub

[2019-11-28 00:09] #100 closed

[2019-11-28 00:10] niftylettuce commented on #94
Released on npm as frisbee@3.1.1 🎉

[2019-11-28 20:08] niftylettuce commented on #94
This is actually resolved as of v3.1.2, not v3.1.1.  See <https://github.com/niftylettuce/frisbee/commit/45f46140f379dc2e2175d8c52afd60f7c24a2dfa>.

[2019-12-09 08:49] EnkeChan opened #103 "How can i modify options in request interceptor?"
I have tried to modify the options in  request interceptor.But the responseError show me "signal cannot be modified via an interceptor".

These are my code:
`
options = Object.assign(options || {}, {
  headers: {
          Authorization: global.token,
        }
})
return [path, options]
`

[2020-01-20 08:39] #95 closed

[2020-01-20 08:39] #98 closed

[2020-01-20 08:39] #99 closed

[2020-01-20 08:39] #103 closed

[2020-01-20 08:39] #91 closed

[2020-08-20 11:55] Overtorment opened #105 "Is there a way to pass `insecureHTTPParser` configuration to request?"
Because of Incapsula CDN some requests are broken on latest nodejs (cli). Luckily it works ok in RN (and probably in browser).
Error that is thrown by frisbee:

[code]

https://github.com/nodejs/node/issues/27711

Workaround is to pass `--insecure-http-parser` to nodejs cli.

related: https://nodejs.org/api/cli.html#cli_insecure_http_parser

[2020-08-23 10:27] niftylettuce commented on #105
On the server-side yes, just pass `insecureHTTPParser: Boolean` see <https://github.com/node-fetch/node-fetch#options>.

Let me know if that works for you.

[2020-08-23 10:28] niftylettuce commented on #105
See previous comment.  We use `cross-fetch/polyfill`, which then uses `node-fetch`, which I previously shared a link to configuration options for (which are inherited).

[2020-08-23 10:28] #105 closed, assigned to nobody

[2020-08-24 16:51] Overtorment commented on #105
that did not work for me.

I tried:

[code]

PS. tried to pass as an option to constructor as well, no luck

[2020-09-01 14:15] daominhsangvn commented on #103
Why this closed? @niftylettuce  ?

[2020-12-16 12:49] Overtorment commented on #105
fyi, still no luck passing that config the way you showed, but what worked is:

`NODE_OPTIONS=--insecure-http-parser=true ./node_modules/.bin/jest  tests/integration/mytest.test.js  `

[2021-11-12 05:45] cooolshekhar commented on #87
Can I please know the reason why typescript is not community-friendly for contributors?